# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# UV
uv.lock

# pytest
.pytest_cache/

# Alembic
*.pyc

analyzer_output/